.bkbasketbol-partner-slider div {
  display: flex;
  align-items: center; }

.bkbasketbol-subheader h1 {
  text-transform: none !important; }

@media screen and (max-width: 767px) {
  .new-detail-area {
    margin-top: 0 !important;
    padding-top: 0 !important; } }

.new-detail-area .new-detail-wrapper {
  padding-top: 25px !important;
  padding-bottom: 40px !important; }
  @media screen and (max-width: 767px) {
    .new-detail-area .new-detail-wrapper {
      padding-bottom: 25px !important; } }
  @media screen and (min-width: 768px) {
    .new-detail-area .new-detail-wrapper .new-detail .cover-img {
      margin-bottom: 25px;
      float: right;
      padding-left: 25px;
      max-width: 650px; } }
  @media screen and (max-width: 767px) {
    .new-detail-area .new-detail-wrapper .new-detail .cover-img {
      margin-bottom: 25px !important; } }

.bkbasketbol-contact-form form p {
  margin-bottom: 5px; }

.field-validation-error {
  color: #ef0000;
  font-weight: bold;
  display: block; }

#message p {
  color: #103150;
  font-weight: bold;
  margin-top: 10px; }

.bkbasketbol-rich-editor {
  min-height: 1px; }

.athlete-statistic {
  margin-top: 45px; }

.d-table {
  display: table; }

.w-100 {
  width: 100%; }

.bkbasketbol-fixture-wrap:before {
  z-index: 1;
  width: 3px; }

.bkbasketbol-buy-ticket-text h5 {
  text-align: left; }

.bkbasketbol-first-team {
  padding: 40px 36px 40px 91px; }

.bkbasketbol-second-team {
  padding: 40px 76px 40px 35px; }

.player-stats-text {
  padding-left: 7.5px; }

.table-cell-vertical-center {
  display: table-cell !important;
  float: none !important;
  vertical-align: middle !important; }

/*.bkbasketbol-banner-wrap{
    p{
        display:inline!important;
    }
}

.d-block{
    display:block!important;
}*/
.bkbasketbol-fixture-gallery figure:before {
  display: none !important; }

/*.bkbasketbol-fixture-gallery figure a img{
    max-height:150px!important;
}*/
.bkbasketbol-fixture-gallery figure figcaption time,
.bkbasketbol-fixture-gallery figure .count {
  color: #fff !important; }

@media (max-width: 767px) {
  .bkbasketbol-header-one .navbar {
    display: block !important; } }

@media (max-width: 480px) {
  .bkbasketbol-header-one .navbar {
    margin-top: 17.5px;
    float: none !important; } }

#navbar-collapse-1 {
  margin-left: -15px !important; }

@media (max-width: 480px) {
  .bkbasketbol-header-one .navbar {
    margin-top: 17.5px;
    float: none !important; }
  #navbar-collapse-1 {
    margin-top: 2.5px !important;
    z-index: 999 !important; } }

.board-content {
  /* Team Members */ }
  .board-content .heading {
    z-index: 1;
    position: relative;
    margin-bottom: 100px; }
  .board-content .heading:after {
    left: 50%;
    height: 3px;
    width: 50px;
    content: " ";
    bottom: -35px;
    margin-left: -25px;
    position: absolute;
    background: #444; }
  .board-content .heading h2 {
    font-weight: 500;
    margin: 0 0 20px;
    color: #444; }
  .board-content .heading p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #8693a7; }
  .board-content .team-members {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px; }
  .board-content .team-members .team-avatar {
    position: relative; }
  .board-content .team-members .team-avatar:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(129, 129, 129, 0.1);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .board-content .team-members .team-avatar img {
    display: block;
    margin: 0 auto;
    text-align: center; }
  .board-content .team-members .team-desc {
    left: auto;
    bottom: 20px;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .board-content .team-members .team-desc h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #fff; }
  .board-content .team-members .team-desc span {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #fff; }
  .board-content .team-members:hover .team-avatar:after {
    background: rgba(47, 60, 72, 0.5);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .board-content .team-members:hover .team-desc {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }
  .board-content .team-members:hover .team-desc {
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }

.bkbasketbol-player-nav-layer.slick-current.slick-active section h6, .bkbasketbol-player-nav-layer.slick-current.slick-active section small {
  color: #fff !important; }

.bkbasketbol-subheader {
  background-size: cover !important;
  background-repeat: no-repeat !important; }

@media (max-width: 480px) {
  .navbar-toggle {
    margin-left: 0;
    margin-right: 0; } }

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Lato-medium', sans-serif !important; }

.subdropdown-addicon {
  cursor: pointer; }

.navbar-nav li a {
  font-family: 'Open Sans', sans-serif !important; }

@media screen and (max-width: 767px) {
  .bkbasketbol-main-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important; } }

.bkbasketbol-player-nav-layer {
  padding: 0 !important; }

.bkbasketbol-player-grid-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 15px 0px 30px; }

blockquote,
.bkbasketbol-player-grid-text p {
  font-family: "Open Sans" !important; }

.ranking-title-table,
.ranking-content-table {
  display: flex !important; }

.ranking-title-row,
.ranking-content-row {
  display: flex !important;
  width: 100% !important;
  justify-content: space-around; }

.bkbasketbol-main-content .widget ul li {
  display: block !important; }

.bkbasketbol-custom-checkbox {
  min-height: 50px; }

.bkbasketbol-contact-form form p input[type="text"] {
  font-size: 12px;
  color: black; }

@media only screen and (min-width: 769px) {
  .bkbasketbol-footer-one .bkbasketbol-footer-widget .container .row .no-padding {
    padding-left: 0px !important; } }

.bkbasketbol-footer-one .bkbasketbol-footer-widget .container .row .no-padding img {
  height: 250px; }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .bkbasketbol-footer-one .bkbasketbol-footer-widget .container .row .no-padding img {
    height: 240px;
    margin-top: 10px; } }

@media only screen and (max-width: 767px) {
  .bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-client-detail .dnone-mobile {
    display: none; }
  .bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-client-detail td {
    line-height: 2; } }

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .bkbasketbol-main-wrapper .bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-client-detail .more-padding-left {
    padding-right: 0px !important;
    padding-left: 67px !important; } }

.bkbasketbol-main-wrapper .bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-client-detail .sfontsize-mobile {
  font-size: 11px; }

@media only screen and (max-width: 480px) {
  .bkbasketbol-main-wrapper .bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-client-detail tr .mobile-sizesmall {
    width: 30%; }
  .bkbasketbol-main-wrapper .bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-client-detail tr .mobile-sizelarge {
    width: 40%; } }

@media only screen and (max-width: 768px) {
  .bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-client-detail .dnone-ipad {
    display: none; } }

@media only screen and (max-width: 767px) {
  .bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-client-detail .mobile-standings-xs {
    width: 5% !important;
    padding: 14px 20px 10px 25px;
    line-height: 1.75; }
  .bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-client-detail .mobile-standings-lg {
    width: 31% !important;
    padding: 14px 27px 10px 20px;
    line-height: 1.75; }
  .bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-client-detail .mobile-standings-s {
    width: 10% !important;
    line-height: 1.75; }
  .bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-client-detail .mobile-standings-none {
    display: none; } }

@media only screen and (max-width: 990px) and (min-width: 768px) {
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-match-view {
    position: absolute !important;
    left: 37.5% !important; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-teams-match {
    width: 75%; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-buy-ticket {
    width: 25%; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-first-team {
    width: 210px !important;
    padding: 40px 43px 40px 3px !important; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-second-team {
    width: 210px !important;
    padding: 40px 15px 40px 20px !important; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap:before {
    right: 25% !important; } }

@media only screen and (max-width: 1024px) and (min-width: 990px) {
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-match-view {
    position: absolute !important;
    left: 37.5% !important; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-teams-match {
    width: 75%; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-buy-ticket {
    width: 25%; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-first-team {
    width: 275px !important;
    padding: 40px 43px 40px 3px !important; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-second-team {
    width: 275px !important;
    padding: 40px 15px 40px 20px !important; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap:before {
    right: 25% !important; } }

@media only screen and (max-width: 767px) {
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-match-view {
    position: absolute !important;
    left: 37% !important; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-teams-match {
    width: 75%; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-buy-ticket {
    width: 25%; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-first-team {
    width: 46% !important;
    padding: 40px 33px 40px 3px !important; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-second-team {
    width: 46% !important;
    padding: 40px 3px 40px 15px !important; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap:before {
    right: 25% !important;
    bottom: 0px !important;
    height: 100% !important; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-match-view {
    margin: 0px; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-match-view h5, .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-match-view span {
    font-size: 10px !important; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-buy-ticket {
    padding: 34px 3px 34px 3px; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-buy-ticket-text h5 {
    font-size: 12px; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-buy-ticket-text time {
    font-size: 10px;
    text-align: right; }
  .bkbasketbol-main-content .bkbasketbol-fixture .bkbasketbol-fixture-wrap .bkbasketbol-buy-ticket .ticket-buy-btn {
    font-size: 10px; } }

.bkbasketbol-main-content .bkbasketbol-main-section .bkbasketbol-modern-gallerys {
  width: 100% !important; }

.bkbasketbol-banner .bkbasketbol-banner-one {
  position: relative; }

.bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-right.slick-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1001; }

.bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-right.slick-arrow i {
  font-size: 54px;
  color: white;
  z-index: 1001; }

.bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-left.slick-arrow {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1001; }

.bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-left.slick-arrow i {
  font-size: 54px;
  z-index: 1001;
  color: white; }

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-left.slick-arrow {
    left: 1px; }
  .bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-right.slick-arrow {
    right: 1px; }
  .bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-left.slick-arrow i {
    font-size: 40px; }
  .bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-right.slick-arrow i {
    font-size: 40px; } }

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-left.slick-arrow {
    left: 10px; }
  .bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-right.slick-arrow {
    right: 10px; }
  .bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-left.slick-arrow i {
    font-size: 44px; }
  .bkbasketbol-banner .bkbasketbol-banner-one .slick-arrow-right.slick-arrow i {
    font-size: 44px; } }

.clipClass {
  position: relative;
  float: left;
  width: 100%; }

.clipClass:before {
  content: '';
  position: absolute;
  width: 50.5%;
  height: 38px;
  background-color: #ffffff;
  top: -18px;
  left: 0px;
  z-index: 1;
  webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg); }

.clipClass:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 38px;
  background-color: #ffffff;
  top: -18px;
  right: 0px;
  z-index: 1;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg); }

#staticsBtn, #standingsBtn, #fixturesBtn, #playersBtn {
  margin-top: 10px;
  cursor: pointer; }

/*.bkbasketbol-main-content.playersDisplay .bkbasketbol-player-listfull, .bkbasketbol-main-content.staticsDisplay, .bkbasketbol-main-content.standingsDisplay {
    height: 175px;
}*/
.d_full {
  height: auto !important;
  visibility: visible !important;
  opacity: 1 !important;
  animation: fade 2s; }

.d_none {
  display: none;
  visibility: hidden;
  opacity: 0; }

.bkbasketbol-subheader .container .customMargin_Top {
  margin-top: 25px; }

.bkbasketbol-subheader .container .customMargin_TopPlayers {
  margin-top: 12px; }

.bkbasketbol-subheader.customSize_Subheadar {
  padding: 32px 0 32px; }

.bkbasketbol-subheader.customSize_SubheadarPlayers {
  padding: 18px 0 22px; }

.bkbasketbol-subheader .customSizeH1 {
  font-size: 25px !important; }

/*@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    }

    @media only screen and (max-width: 420px) {
        .bkbasketbol-main-content.playersDisplay .bkbasketbol-player-listfull {
            height: 365px;
        }
    }
    @media only screen and (min-width: 1020px) and (max-width: 1030px)
    {
        .bkbasketbol-main-content.playersDisplay .bkbasketbol-player-listfull .bkbasketbol-player.bkbasketbol-player-list .bkbasketbol-player-list-text, .bkbasketbol-main-content.playersDisplay .bkbasketbol-player-listfull .bkbasketbol-player.bkbasketbol-player-list figure:after {
            z-index: 0;
        }

        .bkbasketbol-main-content.playersDisplay .bkbasketbol-player-listfull.d_full .bkbasketbol-player.bkbasketbol-player-list figure:after {
            z-index: 2;
        }
    }
    @media only screen and (min-width: 760px) and (max-width: 770px)
    {
        .bkbasketbol-main-content.staticsDisplay
        {
            height:195px;
        }
    }*/
.bkbasketbol-subheader {
  background: url(../extra-images/slider-kombine-satis-larimiz-bas-ladi.png); }


.bkbasketbol-player-thumb {
  background: url(../extra-images/slider-kombine-satis-larimiz-bas-ladi.png); }

.bkbasketbol-player.bkbasketbol-player-list .bkbasketbol-player-list-text .bkbasketbol-forword-btn.specialSizeBtn {
  font-size: 11px; }

.multiLang {
  position: relative; }

.tr_En {
  position: absolute;
  right: 37px;
  top: 45px;
  color: #ef0000; }

.tr_En a {
  color: #ffffff; }

.tr_En a:hover {
  color: #ef0000; }

@media only screen and (max-width: 580px) {
  .tr_En {
    right: 18px;
    top: 25px; } }

@media only screen and (min-width: 790px) and (max-width: 1030px) {
  .navbar-nav > li > a {
    font-size: 16px; }
  .tr_En {
    right: 18px;
    top: 15px; } }

.wColorSp {
  color: #fff; }

.rColorSp {
  color: #ef0000; }

.bkbasketbol-fancy-title .nav li a {
  padding-bottom: 0px;
  padding-top: 0px;
  text-decoration: none; }

.bkbasketbol-fancy-title .nav li a:hover, .bkbasketbol-fancy-title .nav li a:focus {
  background-color: transparent; }

.bkbasketbol-fancy-title .nav li a:hover span {
  color: #ef0000; }

.bkbasketbol-fancy-title .nav li a span {
  font-size: 14px; }

#fixtureCstTab {
  display: flex;
  justify-content: space-around; }

#fixtureCstTab span {
  font-size: 24px; }

#statsCstTab {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px; }

#statsCstTab span {
  font-size: 24px; }

#standingsCstTab {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px; }

#standingsCstTab span {
  font-size: 24px; }

.widget_team_ranking ul li a {
  padding: 2px 5px; }

.widget_team_ranking .bkbasketbol-fancy-title .nav li a span {
  font-size: 13px; }

@media only screen and (max-width: 991px) {
  .widget_team_ranking .bkbasketbol-fancy-title .nav li a span {
    font-size: 12px; } }

@media only screen and (min-width: 991px) and (max-width: 1025px) {
  .widget_team_ranking .bkbasketbol-fancy-title .nav li a span {
    font-size: 10px; }
  .widget_team_ranking ul li a {
    padding: 2px 3px; } }

.widget_team_ranking .bkbasketbol-fancy-title {
  padding: 15px 29px; }

.board-content .bkbasketbol-player.bkbasketbol-player-grid ul {
  display: flex;
  justify-content: space-between; }

#Gender {
  width: 220px;
  background-color: #fff; }

#Gender option {
  width: 180px;
  background-color: #fff; }

.bkbasketbol-contact-form form input[type="date"] {
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid #ececec;
  width: 220px; }

.bkbasketbol-contact-form form select#Gender {
  background-color: #fff;
  height: 40px; }

.board-content .bkbasketbol-player.bkbasketbol-player-grid ul {
  overflow-x: auto; }

.eurocupLogo {
  max-width: 100px;
  margin-left: 44px;
  z-index: 99;
  position: absolute;
  height: auto;
  top: 0px; }

.navbar-nav > li > a {
  font-size: 17px; }

.bkbasketbol-sticky .navbar-nav > li > a {
  font-size: 16px; }

@media only screen and (min-width: 1201px) and (max-width: 1320px) {
  .navbar-nav > li > a {
    font-size: 16px; }
  .bkbasketbol-sticky .navbar-nav > li > a {
    font-size: 16px; } }

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .eurocupLogo {
    max-width: 94px;
    margin-left: 60px;
    z-index: 99;
    position: absolute;
    height: auto;
    top: 0px; }
  .navbar-nav > li > a {
    font-size: 13px; }
  .bkbasketbol-sticky .navbar-nav > li > a {
    font-size: 12px; } }

@media only screen and (min-width: 491px) and (max-width: 990px) {
  .eurocupLogo {
    max-width: 95px;
    margin-left: 141px;
    z-index: 99;
    position: absolute;
    height: auto;
    top: 0px; } }

@media only screen and (min-width: 381px) and (max-width: 490px) {
  .eurocupLogo {
    max-width: 83px;
    margin-left: 102px;
    z-index: 99;
    position: absolute;
    height: auto;
    top: 1px; } }

@media only screen and (min-width: 300px) and (max-width: 380px) {
  .eurocupLogo {
    max-width: 81px;
    margin-left: 102px;
    z-index: 99;
    position: absolute;
    height: auto;
    top: 3px; } }

.cstBtnCultureEvents {
  border: none;
  color: #ffffff;
  padding: 7px 20px 7px 20px;
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #292c31; }

@media only screen and (min-width: 1200px) and (max-width: 1289px) {
  .tr_En {
    position: absolute;
    right: 30px;
    top: 15px;
    color: #ef0000; } }
